{% extends 'admin/base.html.twig' %}


{% block main %}

    <main id="delete-user">

        <h1>Suppression de l'utilisateur</h1>

        <a href="{{ path('admin-list-users') }}" class="btn btn-primary">&#8592; Retour à la liste des utilisateurs</a>

        {% for flash_message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}

         <form method="post" action="{{ path('admin-delete-user', {'id': user.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete_user_' ~ user.id) }}">
    <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
    <a href="{{ path('admin-list-users') }}" class="btn btn-secondary ms-2">Annuler</a>
</form>

    </main>

{% endblock main %}