{% extends 'admin/base.html.twig' %}

{% block main %}
    <button type="button" onclick="window.location.href='{{ path('admin-list-users') }}'">&#8592; Retour à la gestion des utilisateurs</button>
    <main id="update-user">
        <h1>Modifier l'utilisateur</h1>

        {% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">{{ flash_message }}</div>
{% endfor %}
{% for flash_message in app.flashes('error') %}
    <div class="alert alert-danger">{{ flash_message }}</div>
{% endfor %}

        <form method="post" action="{{ path('admin-update-user', {'id': user.id}) }}">

            <input type="hidden" name="_token" value="{{ csrf_token('update_user' ~ user.id) }}">

            <div class="form-group">
                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="username" value="{{ user.username }}" required>
            </div>

            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" value="{{ user.email }}" required>
            </div>



            <button type="submit" class="btn btn-warning">Confirmer la modification</button>

            <a href="{{ path('admin-list-users') }}" class="btn btn-danger">Annuler</a>
</form>
    </main>
{% endblock %}