{% extends ('guest/base.html.twig') %}

{% block metatitle %}Liste des Pièces | guest Renault 21 TD{% endblock metatitle %}




    {% block main %}
    
        <div class="list-pieces">
            <h1 class="text-center mb-4">Liste des pièces</h1>
            {% if pieces is empty %}
                <p>Aucune pièce trouvée.</p>
            {% else %}

                {% for piece in pieces %}
                <div class="piece">
                    <h2>{{ piece.name }}</h2>
                    <p>{{ piece.description }}</p>
                    <p>Categorie : {{ piece.name }}</p>
                    <p>Créé le : {{ piece.createdAt|date('Y-m-d H:i') }}</p>
                    {% if piece.image %}
                        <img src="{{ asset('Uploads/pieces/' ~ piece.image) }}" alt="Image de la pièce" class="img-fluid"
                    {% endif %}
                    <p>{{ piece.user.pseudo }}</p>
                    <p>Email : {{ piece.user.email }}</p>
                    {% if piece.price %}
                        <p>Prix : {{ piece.price }} €</p>
                    {% elseif piece.isExchange %}
                        <p>Échange possible</p>
                    {% endif %}  
                </div>
                {% endfor %}
            {% endif %}

            {% for message in app.flashes('info') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        </div>
{% endblock main %}



{% block javascripts %}
    <script src="{{ asset('js/guest/pieces/list-pieces.js') }}"></script>
{% endblock javascripts %}



