{% extends ('guest/base.html.twig') %}

{% block metatitle %}Liste des Pièces | guest Renault 21 TD{% endblock metatitle %}




    {% block main %}
           

            {% if pieces is empty %}
                <p>Aucune pièce trouvée.</p>
            {% else %}
        {% for piece in pieces %}
            <div class="piece">
                <h2>{{ piece.name }}</h2>
                <p>{{ piece.description }}</p>
                <p>Categorie: {{ piece.name }}</p>
                <p>Created at: {{ piece.createdAt|date('Y-m-d H:i') }}</p>
            {% if piece.image %}
                <img src="{{ asset('Uploads/pieces/' ~ piece.image) }}" alt="Image de la pièce">
            {% endif %}
            <p>{{ piece.user.pseudo }}</p>
            <a href="{{ path('details-piece', {'id': piece.name}) }}">Voir les détails</a>
        </div>
        {% endfor %}
            {% endif %}

            {% for message in app.flashes('info') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
   
{% endblock main %}



{% block javascripts %}
    <script src="{{ asset('js/guest/pieces/list-pieces.js') }}"></script>
{% endblock javascripts %}



