{% extends 'admin/base.html.twig' %}

{% block main %}
<div class="btn-back">
    <a href="{{ path('admin-list-messages') }}" class="btn btn-primary mb-3">Retour à la liste des messages</a>
</div>
<div class="width-message">
<div class="title-message">
    <h1>Gestion des messages</h1>
    <h2>Liste des messages</h2>
</div>

{% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
{% endfor %}

<section>
    <a href="{{ path('admin-create-message') }}" class="btn btn-success mb-3">Créer un message</a>
    <table class="table table-striped table-bordered mt-4">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Contenu</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.receiver ? message.receiver.email : '' }}</td>
                <td>{{ message.content|slice(0, 500) ~ '...' }}</td>
                <td>{{ message.createdAt|date('d/m/Y H:i') }}</td>
                <td>
                    <a href="{{ path('admin-update-message', {'id': message.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                    <form method="post" action="{{ path('admin-delete-message', {'id': message.id}) }}" style="display:block; width:50%; height:80%;padding:1%;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete_message_' ~ message.id) }}">
                        <button type="submit" onclick="return confirm('Supprimer ce message ?')" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">Aucun message trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
</div>
{% endblock main %}

