<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <link rel="stylesheet" href="{{ asset('asset/css/styles.css') }}">
    <title>	
    {% block metatitle %}Site d'annonce de pièces Renault 21 TD{% endblock %}
    </title>
</head>
<body>

<header>
    <div class="logo-header">
        <img src="{{ asset('images/logoRenault.png') }}" alt="Logo Renault" />
    <nav class="nav-admin-header">
        <ul>
            <li><a href="{{path('admin-create-piece')}}">Créer une pièce</a></li>
            <li><a href="{{path('admin-list-pieces')}}">Liste des pièces</a></li>
          {#<li><a href="{{path('admin-create-category')}}">Créer une catégorie</a></li>
            <li><a href="{{path('admin-list-categories')}}">Liste des catégories</a></li>#}
            <li><a href="{{path('admin-annonce-create')}}">Créer une annonce</a></li>
            <li><a href="{{path('admin-annonce-list')}}">Liste des annonces</a></li>
           {#<li><a href="{{path('admin-create-pantheon')}}">Créer un pantheon</a></li>
            <li><a href="{{path('admin-list-pantheon')}}">Liste des pantheons</a></li>#}
            <li><a href="{{path('admin-create-user')}}">Créer un user</a></li>
            <li><a href="{{path('admin-list-users')}}">Liste des users</a></li>
            {#<li><a href="{{path('admin-create-admin')}}">Créer un admin</a></li>
            <li><a href="{{path('admin-list-admins')}}">Liste des admins</a></li>#}
        </ul>
        
        <a href="{{path('connexion')}}">Se connecter</a>
        <a href="{{ path('logout')}}">Se déconnecter</a>

    </nav>

</header>

{% for message in app.flashes('error') %}

    <div style="background-color: red;">
        <p>{{ message }} </p>
    </div>

{% endfor %}

{% for message in app.flashes('success') %}

    <div style="background-color: green;">
        <p>{{ message }} </p>
    </div>

{% endfor %}


<main>

    {% block main %}

    {% endblock main %}

</main>

</body>
</html>