{% extends 'admin/base.html.twig' %}

{% block main %}
    <div class="admin-dashboard">
        <p>Bienvenue, {{ app.user.pseudo }} !</p>
        <h1>Bienvenue sur le tableau de bord admin</h1>
        <ul class="admin-menu">
            <li><a href="{{ path('admin-list-users') }}" class="btn btn-primary mb-2">Gestion des utilisateurs</a></li>
            <li><a href="{{ path('admin-list-categories') }}" class="btn btn-primary mb-2">Gestion des catégories</a></li>
            <li><a href="{{ path('admin-list-pieces') }}" class="btn btn-primary mb-2">Gestion des pièces</a></li>
            <li><a href="{{ path('admin-list-messages') }}" class="btn btn-primary mb-2">Gestion des messages</a></li>
            <li><a href="{{ path('admin-list-articles') }}" class="btn btn-primary mb-2">Gestion des articles</a></li>    
        </ul>
    </div>

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endblock %}