{% extends 'moderator/base.html.twig' %}

{% block main %}

      {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
    
    <div class="moderator-dashboard">
        <p>Bienvenue, {{ app.user.pseudo }} !</p>
        <h1>Bienvenue sur le tableau de bord modérateur</h1>
        <ul class="moderator-menu">
            <li><a href="{{ path('moderator-list-pieces') }}" class="btn btn-primary mb-2">Modération des pièces</a></li>
            <li><a href="{{ path('moderator-list-articles') }}" class="btn btn-primary mb-2">Modération des articles</a></li>
        </ul>
    </div>
{% endblock %}