
{% extends ('guest/base.html.twig') %}

{% block metatitle %}Détails de la catégorie | Renault 21 TD{% endblock metatitle %}


{% block main %}
     <button type="button" onclick="window.location.href='{{ path('list-categories') }}'" class="btn btn-primary">&#8592; Retour à la liste des categories</button>
    <main id="details-category">
        <h2 class="title-category">Catégorie : {{ category.name }}</h2>
        <p class="title-category">Bienvenue sur la page de la catégorie <strong>{{ category.name }}</strong>.</p>
        <section id="list-pieces">
            {% if pieces|length > 0 %}
                    <table class="table table-bordered table-hover align-middle">
                        <thead>
                            <tr>
                                {#<th>Sélectionner</th>#}
                                <th class="py-3 px-3">Nom</th>
                                <th class="py-3 px-3">Description</th>
                                <th class="py-3 px-3">Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for piece in pieces %}
                                <tr
                                    class="cursor-pointer"
                                    style="cursor: pointer;"
                                    onclick="window.location.href='{{ app.user ? path('details-piece', {id: piece.id}) : path('connexion') }}'"
                                >
                                    {#<td><input type="checkbox" name="selected_pieces[]" value="{{ piece.id }}"></td>#}
                                    <td class="py-3 px-3">{{ piece.name }}</td>
                                    <td class="py-3 px-3">{{ piece.description }}</td>
                                    <td class="py-3 px-3">{{ piece.price }} €</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                    {% if not app.user %}
                        <p class="text-muted mt-2 mb-0">Cliquez sur une ligne pour aller vers la page de connexion/inscription.</p>
                    {% endif %}
             {% endif %}
        </section>
    </main>
   
{% endblock main %}
      