{% extends 'guest/base.html.twig' %}

{% block main %}
    <div id="main-pantheon">
    <h1 class="pantheon">Bienvenue dans le Panthéon</h1>
    <div class="articles-list">
        {% for article in articles %}
            <div class="article-card">
                <div class="article-image">
                    <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.title }}">
                </div>
                <div class="article-content">
                    <h2 class="pantheon">{{ article.title }}</h2>
                    <p>{{ article.content|slice(0, 150) ~ '...' }}</p>
                    <a href="{{ path('show-article', {'id': article.id}) }}" class="btn btn-primary">Lire l'article</a>
                </div>
            </div>
            <div class="separate"></div>
        {% endfor %}
    </div>
    </div>
{% endblock %}