{% extends 'guest/base.html.twig' %}

{% block main %}
    <a href="{{ path('guest-list-articles') }}">&#8592; Retour au Panthéon</a>
    <div class="article-detail">
        <h1>{{ article.title }}</h1>
        <p>{{ article.content }}</p>
        <img src="{{ asset('uploads/images/' ~ article.image) }}" alt="{{ article.title }}">
    </div>
{% endblock %}