{% extends 'guest/base.html.twig' %}


{% block metaTitle %}Achats de Pièces Renault 21 TD{% endblock %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <main id="mainAccueil">

        <section>
            <div class="renault">
                <img src="{{ asset('images/mavoiture.png') }}" alt="Photo de ma R21 td">
            </div>
            <article class="article">
                <div class="container">
                    <h1>Bienvenue sur Achat-de-pieces.com</h1>
                    <h2>Le site dédié aux passionnés de la Renault 21 TD</h2>
                        <p>Bienvenue sur Achat-de-pieces.com, le site dédié aux passionnés de la <strong>Renault 21 Turbo Diesel</strong>.</p>
                        <p>Échangez vos pièces détachées gratuitement et connectez-vous avec d'autres passionnés.</p>
                        <p>Trouvez exactement ce dont vous avez besoin pour entretenir votre véhicule.</p>
                        <p>Inscription facile, listes complètes de pièces et messagerie directe entre utilisateurs pour des échanges rapides et sécurisés.</p>
                        <p>Rejoignez-nous dès aujourd' hui et faites partie de notre communauté !</p>
                    <h3>Rejoignez nous !</h3>
                        <div class="container-logo">
                            <div class="bouton">
                                <label>
                                    <button type="button">Découvrir</button>
                                </label>
                            </div>
                        <div class="items">
                            <img src="{{ asset('images/voiture.png') }}" alt="logo-auto-rouge">
                            <img src="{{ asset('images/cle.png') }}" alt="logo-clef-a-molette">
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <div class="container2">
            <h4>Le panthéon de la Renault 21 Turbo Diésel</h4>
            <div class="bouton">
                <label>
                    <button type="button">Entrez !</button>
                </label>
            </div>
        </div>
        <div class="container3">
            <div class="moteur">
                <h5 id="Moteur">Catégorie Moteur</h5>
                <a href="{{ path('details-category', {'id' : 1}) }}">
                    <img src="{{ asset('images/TurboAccueil.jpg') }}" alt="piece de turbo">
                    </a>
            </div>
            <div class="habitacle">
                <h6>Catégorie Habitacle</h6>
                <a href="{{ path('details-category', {'id' : 2}) }}">
                    <img src="{{ asset('images/CompteurV.webp') }}" alt="compteur de R21 td"></a>
            </div>
        </div>
        <div class="bouton" id="allPieces">
            <label>
                <button type="button">Liste de toutes les pièces</button>
            </label>
        </div>
    </main>
{% endblock main %}

