{% extends 'admin/base.html.twig' %}

{% block main %}
<section id="admin-user-menu">
<h1>Gestion des pièces</h1>
<button type="button" onclick="window.location.href='{{ path('admin-create-piece') }}'" class="btn btn-primary">Créer une pièce</button>
<table class="table table-striped align-middle" style="width:80%; border: 1px solid #1C1C1C;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for piece in pieces %}
        <tr>
            <td>{{ piece.id }}</td>
            <td>{{ piece.name }}</td>
            <td>{{ piece.description }}</td>
            <td>{{ piece.price }}</td>
            <td>
                <form method="get" action="{{ path('admin-update-piece', {'id': piece.id}) }}" style="display:inline;">
                    <button type="submit" class="btn btn-warning btn-sm" style="padding: 14px; margin-right: 8px;">Modifier</button>
                </form>
                <form method="post" action="{{ path('admin-delete-piece', {'id': piece.id}) }}" style="display:inline;" onsubmit="return confirm('Supprimer cette pièce ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete_piece_' ~ piece.id) }}">
                <button type="submit" class="btn btn-danger btn-sm" style="padding: 14px;">Supprimer</button>
            </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</section>

{% for flash_message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %}

{% for flash_message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ flash_message }}
    </div>
{% endfor %}
{% endblock %}

