{% extends 'admin/base.html.twig' %}

{% block main %}
<h1>Gestion des pièces</h1>
<button type="button" onclick="window.location.href='{{ path('admin-create-piece') }}'">Créer une pièce</a></button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for piece in pieces %}
        <tr>
            <td>{{ piece.id }}</td>
            <td>{{ piece.name }}</td>
            <td>{{ piece.description }}</td>
            <td>{{ piece.price }}</td>
            <td>
                <button type="button" onclick="window.location.href='{{ path('admin-update-piece', {'id': piece.id}) }}'">Modifier</a></button>
                <button type="button" onclick="window.location.href='{{ path('admin-delete-piece', {'id': piece.id}) }}'" onclick="return confirm('Supprimer cette pièce ?')">Supprimer</a></button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

