{% extends 'base.html.twig' %}


{% block header %}
    <nav class="navHeader">
        <div class="logoHeader">
            <img src="{{ asset('images/logoRenault.png') }}" alt="logo-header">
        </div>
        <div id="burger">
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <ul class="ulHeader">
            <li class="liHeader"><a href="{{ ('home') }}">Accueil</a></li>
            <li class="liHeader"><a href="{{ ('user-profil') }}">Profil</a></li>
            <li class="liHeader"><a href="{{ ('user-inscription') }}">Inscription</a></li>
            <li class="liHeader"><a href="{{ ('annonces') }}">Annonces</a></li>
            <li class="liHeader"><a href="{{ ('liste_de_pieces') }}">Liste des pièces</a></li>
            <li class="liHeader"><a href="{{ ('pantheon') }}">Panthéon</a></li>
            <li class="bouton-header">
                <button id="auth-btn" class="btn btn-primary mt-3"><a href="{{ ('user-connexion') }}">Se connecter</a></button>
            </li>
        </ul>
    </nav>
{% endblock header %}



{% block main %}
{% endblock main %}
